@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
.app {
    background-image: url("./img/back.jpg");
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.deto {
    background-color: #33185f;
    height: 80%;
    width: 20%;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 10px;
}

.list {
    background-color: rgba(0, 0, 0, 0.479);
    height: 70%;
    width: 50%;
    margin-top: 7.5%;
    border-radius: 15px;
    text-align: center;
}
.title {
    font-family: 'Sigmar One', cursive;
    font-size: 40px;
    color: white;
}

.span {
    font-family: 'Dancing Script', cursive;
    font-size: larger;
    font-weight: 700;
    font-style: italic;
}   

.items {
    display: flexbox;
    text-align: center;
    width: 80%;
    height: 30%;
    margin: auto;
    height: 100%;
    margin-top: 70%;
}
.btn {
    background-color: yellow;
    color: #fff;
    height: 10%;
    width: 50%;
    border: 0px;
    border-radius: 19px;
    cursor: pointer;
    background-color: #f06292;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.wait {
    margin-top: 32%;
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 45px;
    font-weight: 100;
}